.jumbotron {
  padding-top: 5rem;
  background-color: #222034;
  color: aliceblue;
}

#pixelart {
  background-color: #222034;
  color: rgb(238, 18, 48);
}

section {
  padding-top: 5rem;
}

#tanahio {
  background-color: #222034;
  color: rgb(238, 18, 48);
}

#pixeldailies {
  background-color: #fff;
  color: black;
}

#contact {
  background-color: #222034;
  color: aliceblue;
}

#InkArt {
  background-color: #222034;
  color: rgb(238, 18, 48);
}

#carouselExampleDark {
  padding-top: 5rem;
}
